<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>已生成报告</title>

    <meta name="description" content="Automate reports generation.">
    <meta name="author" content="LIUZheng 刘峥">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  
  <body>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
			<form name='confirmForm' action="{{ url_for('home') }}" id="textform" method="GET" enctype="multipart/form-data" accept-charset="UTF-8">	
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2>
								报告已保存至：
							</h2>	
							<div class="form-group"> 
							  {% with messages = get_flashed_messages() %}
							  {% if messages %}
								<ul class=flashes>
								{% for message in messages %}
								  <li>{{ message }}</li>
								{% endfor %}
								</ul>
							  {% endif %}
							{% endwith %}
							</div>
						</div>
					</div>
				</div>			
				
				<div class="container">
    			<button name="submit" type="submit" value="Submit" class="btn btn-primary">
    				Back to Home
    			</button>
				</div>

			</form>				
    		</div>
    	</div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </body>
</html>