<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>选择报告类型</title>

    <meta name="description" content="Automate reports generation.">
    <meta name="author" content="LIUZheng 刘峥">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"> -->

  </head>
  <body>  
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
    			<h1>
    				选择报告类型
    			</h1>
    			<p>
    				-- 巡检：日常巡检报告<br>
					-- 巡检（季度）：季度巡检报告<br>
					-- 会议记录：开会纪要<br>
					-- 现场技术支持：包含技术培训、技术沙龙、现场技术支持三种类别<br>
					-- 年度总结：暂不支持<br>
    			</p><br>
				<form name='categoryForm' method="POST" accept-charset="UTF-8">				
				
                <div class="container">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                  <label class="btn btn-default active">
                    <input type="radio" name="options" value="patrol" autocomplete="off" checked=""> 巡检
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="options" value="patrolsea" autocomplete="off"> 巡检（季度）
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="options" value="meeting" autocomplete="off"> 会议记录
                  </label>
				  <label class="btn btn-default">
                    <input type="radio" name="options" value="onsite" autocomplete="off"> 现场技术支持
                  </label>
				  <label class="btn btn-default">
                    <input type="radio" name="options" value="annual" autocomplete="off"> <strike>年度总结</strike>
                  </label>
                </div>
                </div><br>		
				
				<div class="container">
    			<button name="next" type="submit" value="Submit" class="btn btn-primary center-block">
    				Next
    			</button>
				</div>
				</form>				
    		</div>
    	</div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </body>
</html>