<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>会议记录</title>

    <meta name="description" content="Automate reports generation.">
    <meta name="author" content="LIUZheng 刘峥">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  
  <body> 
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
			<form name='meetingForm' action="{{ url_for('gotoMeeting') }}" id="textform" method="POST" enctype="multipart/form-data" accept-charset="UTF-8">	
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2>
								会议时间 (格式: YYYYMMDD, Weekdays, Hours)
							</h2>	
							<div class="form-group"> 
							<textarea name="meetingtime" class="form-control" placeholder="20170105, 星期五, 15:00 - 16:30" ></textarea> </div>
							<h2>
								主要内容
							</h2>
							<div  class="form-group"> 
							<textarea name="content" class="form-control" placeholder="主要内容" rows=10></textarea> </div>

							<h2>
								下一步工作计划
							</h2>
							<div  class="form-group"> 
							<textarea name="plan" class="form-control" placeholder="下一步工作计划" rows=10></textarea> </div><br>

						</div>
					</div>
				</div>			
				
				<div class="container">
    			<button name="prev" type="button" class="btn btn-default">
    				Prev
    			</button> 
    			<button name="submit" type="submit" value="Submit" class="btn btn-primary">
    				Submit
    			</button>
				</div>

			</form>				
    		</div>
    	</div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </body>
</html>