<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>现场技术支持</title>

    <meta name="description" content="Automate reports generation.">
    <meta name="author" content="LIUZheng 刘峥">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	
  </head>
  
  <body> 
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
			<form name='onsiteForm' action="{{ url_for('gotoOnsite') }}" method="POST" enctype="multipart/form-data" accept-charset="UTF-8">	
			<h2>
				服务类型
			</h2>	
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                  <label class="btn btn-default active">
                    <input type="radio" name="options" value="training" autocomplete="off" checked=""> 技术培训
                  </label>
				  <label class="btn btn-default">
                    <input type="radio" name="options" value="salon" autocomplete="off"> 技术沙龙
                  </label>
				  <label class="btn btn-default">
                    <input type="radio" name="options" value="onsite" autocomplete="off"> 现场技术支持
                  </label>
				</div>
			</div>	

				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2>
								执行时间 (格式: YYYYMMDD, Weekdays, Hours)
							</h2>	
							<div  class="form-group"> <textarea name="onsitetime" class="form-control" placeholder="20170105, 星期五，15:00 - 16:30" ></textarea> </div>
							
							<h2>
								主题
							</h2>	
							<div  class="form-group"> <textarea name="title" class="form-control" placeholder="主题" ></textarea> </div>
							
							<h2>
								技术专家
							</h2>	
							<div  class="form-group"> <textarea name="expert" class="form-control" placeholder="技术专家" ></textarea> </div>
							
							<h2>
								主要内容
							</h2>
							
							<div  class="form-group"> <textarea name="content" class="form-control" placeholder="主要内容" rows=10></textarea> </div>

							<h2>
								总结
							</h2>
							<div  class="form-group"> <textarea name="summary" class="form-control" placeholder="总结" rows=10></textarea> </div><br>
						</div>
					</div>
				</div>			
				
				<div class="container">
    			<button onclick="javascript:history.back()" name="prev" type="button" class="btn btn-default">
    				Prev
    			</button> 
    			<button name="submit" type="submit" value="Submit" class="btn btn-primary">
    				Submit
    			</button>
				</div>
				
			</form>
    		</div>
    	</div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </body>
</html>