<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>季度巡检报告</title>

    <meta name="description" content="Automate reports generation.">
    <meta name="author" content="LIUZheng 刘峥">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  
  <body> 
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
			<form name='patrolseaForm' action="{{ url_for('gotoPatrolSeasonal') }}" id="textform" method="POST" enctype="multipart/form-data" accept-charset="UTF-8">	
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2>
								选择季度
							</h2>
								<div class="btn-group btn-group-justified" data-toggle="buttons">
								  <label class="btn btn-default active">
									<input type="radio" name="options" value="1st" autocomplete="off" checked=""> 第一季度
								  </label>
								  <label class="btn btn-default">
									<input type="radio" name="options" value="2nd" autocomplete="off"> 第二季度
								  </label>
								  <label class="btn btn-default">
									<input type="radio" name="options" value="3rd" autocomplete="off"> 第三季度
								  </label>
								  <label class="btn btn-default">
									<input type="radio" name="options" value="4th" autocomplete="off"> 第四季度
								  </label>
								</div><br>
						</div>			
					
						<div class="col-md-12">
							<h2>
								图形服务器
							</h2>	
							<table class="table table-default">
								<thead>
									<tr>
										<th>
											#
										</th>
										<th>
											CPU(1st)
										</th>
										<th>
											内存(1st)
										</th>
										<th>
											CPU(2nd)
										</th>
										<th>
											内存(2nd)
										</th>
										<th>
											CPU(3rd)
										</th>		
										<th>
											内存(3rd)
										</th>											
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											31
										</td>
										<td>
											<input type="text" name="31c1" size="4">
										</td>
										<td>
											<input type="text" name="31m1" size="4">
										</td>
										<td>
											<input type="text" name="31c2" size="4">
										</td>
										<td>
											<input type="text" name="31m2" size="4">
										</td>
										<td>
											<input type="text" name="31c3" size="4">
										</td>
										<td>
											<input type="text" name="31m3" size="4">
										</td>
									</tr>
									<tr class="active">
										<td>
											32
										</td>
										<td>
											<input type="text" name="32c1" size="4">
										</td>
										<td>
											<input type="text" name="32m1" size="4">
										</td>
										<td>
											<input type="text" name="32c2" size="4">
										</td>
										<td>
											<input type="text" name="32m2" size="4">
										</td>
										<td>
											<input type="text" name="32c3" size="4">
										</td>
										<td>
											<input type="text" name="32m3" size="4">
										</td>
									</tr>
									<tr >
										<td>
											35
										</td>
										<td>
											<input type="text" name="35c1" size="4">
										</td>
										<td>
											<input type="text" name="35m1" size="4">
										</td>
										<td>
											<input type="text" name="35c2" size="4">
										</td>
										<td>
											<input type="text" name="35m2" size="4">
										</td>
										<td>
											<input type="text" name="35c3" size="4">
										</td>
										<td>
											<input type="text" name="35m3" size="4">
										</td>
									</tr>
									<tr class="active">
										<td>
											36
										</td>
										<td>
											<input type="text" name="36c1" size="4">
										</td>
										<td>
											<input type="text" name="36m1" size="4">
										</td>
										<td>
											<input type="text" name="36c2" size="4">
										</td>
										<td>
											<input type="text" name="36m2" size="4">
										</td>
										<td>
											<input type="text" name="36c3" size="4">
										</td>
										<td>
											<input type="text" name="36m3" size="4">
										</td>
									</tr>
									<tr >
										<td>
											113
										</td>
										<td>
											<input type="text" name="113c1" size="4">
										</td>
										<td>
											<input type="text" name="113m1" size="4">
										</td>
										<td>
											<input type="text" name="113c2" size="4">
										</td>
										<td>
											<input type="text" name="113m2" size="4">
										</td>
										<td>
											<input type="text" name="113c3" size="4">
										</td>
										<td>
											<input type="text" name="113m3" size="4">
										</td>
									</tr>
									<tr class='active'>
										<td>
											114
										</td>
										<td>
											<input type="text" name="114c1" size="4">
										</td>
										<td>
											<input type="text" name="114m1" size="4">
										</td>
										<td>
											<input type="text" name="114c2" size="4">
										</td>
										<td>
											<input type="text" name="114m2" size="4">
										</td>
										<td>
											<input type="text" name="114c3" size="4">
										</td>
										<td>
											<input type="text" name="114m3" size="4">
										</td>
									</tr>
								</tbody>
							</table><br>							
							
							<h2>
								巡检时间: (格式: XXXX年X月 - XXXX年X月)
							</h2>	
							<div  class="form-group"> <textarea name="patrolseatime" class="form-control" rows=1></textarea> </div><br>
							
							<h2>
								6.3.3 系统性能监测
							</h2>	
							<h4>
							1.	通过chrome的网络监控工具和Fiddler检查了和记录了一张图系统，综合分析系统和行政审批系统的应用程序加载，地图服务加载，业务图层加载，空间查询，属性查询和空间分析。并将结果记录在巡检服务记录表中。<br />
							2.	切片服务的单张切片请求在0.03s左右，属于正常值范围内。<br />
							3.
							</h4>
							<div  class="form-group"> <textarea name="sysmon" class="form-control" rows=5></textarea> </div><br>
							
							<h2>
								总结建议 -- 一般状态问题
							</h2>	
							<h4>
							按照巡检手册规范中的操作要求，对所涉及到的业务系统进行了逐项的检测，结论如下：<br/>
							1.	未出现紧急状态的问题<br/>
							2.	出现一般状态问题有：<br/>
							</h4>
							<div  class="form-group"><textarea name="commiss" class="form-control" rows=5></textarea> </div><br>

							<h2>
								总结建议 -- 建议
							</h2>	
							<h4>根据巡检结果，特建议如下：</h4>
							<div  class="form-group"> <textarea name="patrolseasum" class="form-control" rows=5></textarea> </div><br>	
							
						</div>								
						</div>
					</div>
				</div>		
				
				<div class="container">
    			<button onclick="javascript:history.back()" name="prev" type="button" class="btn btn-default">
    				Prev
    			</button> 
    			<button name="submit" type="submit" value="Submit" class="btn btn-primary">
    				Submit
    			</button>
				</div>

			</form>				
    		</div>
    	</div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </body>
</html>